<div style="margin-bottom: 30px; padding-bottom: 7px" class="row border-bottom">
  <div class="col-10">
    <h4 style="color: rgb(100,100,100); margin-bottom: 2px">{{job['title']}}</h4>
    <div><b>Location:</b> {{job['location']}}</div>
    {% if 'salary' in job %}
        <div><b>Salary:</b> {{job['currency']}}{{job['salary']}}</div>
    {% endif %}
  </div> 
  <div class="col-2">
    <!-- <button type="button" class="btn btn-outline-primary">Apply</button> -->
    <a target="_blank" href="mailto:vinaykumar.devops.com?subject=Apply%20for%20{{job['Tittle']}}%20role&body=A%20simple%20body%0D%0AName%3A%20%3C%3E%0D%0ALinkedin%20URL%3A%20%3C%3E%0D%0AJob%20Profile%20link%3A%20%3C%3E" class="btn btn-outline-primary">Apply</a>
  </div>
</div>